$mainColor: #2c2f3c;
$btnColor: #699900;
$background: url("../img/m-h-day.jpg") center center / cover no-repeat;
$backgroundColor1: #fff;
$backgroundColor2: #21232e;
$wordColor: #14a0c7;
$gradient: linear-gradient(to right, #659510, #2d5bd6);
$mainFont: 'Hind', sans-serif;
$titleFont: 'Source Sans Pro', sans-serif;
