$mainColor: #fff;
$btnColor: #e3ac00;
$background: url("../img/m-h-night.jpg") center center / cover no-repeat;
$backgroundColor1: #21232e;
$backgroundColor2: #3b3f50;
$wordColor: #ff4e33;
$gradient: linear-gradient(to right, #da9f08, #932d52);
$mainFont: 'Fresca', sans-serif;
$titleFont: 'Source Sans Pro', sans-serif;